@model DepartmentEditViewModel

@{
    ViewData["Title"] = "Edit"; 
}


<div class="row justify-content-center align-items-center flex-column">


    <h1 class="col-6 my-4">Edit The Department</h1>


    <!-- 
        by default the method = post, because the asp-action = edit, this mean => action = /Department/edit/10
        how the form know is the id = 10 ? he know from the route url

    -->
    <form asp-action="Edit" method="post" class="col-6">
        <div asp-validation-summary="ModelOnly"></div> <!--ها رح تظهرلي الايرور الي انا عملتلها سيت باخر سطر بالكرييت اكشن  -->

        <div class="form-group mb-3">
            <!-- <label class="form-label" for="Code">Code</label>
            <input type="text" name="Code" id="Code" class="form-control"/> -->

            <label asp-for="Code" class="form-label"></label>
            <input asp-for="Code" class="form-control" />
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">

            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">

            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" class="form-control"> </textarea>
        </div>
        <div class="form-group mb-3">

            <label asp-for="CreationDate" class="form-label"></label>
            <input type="date" asp-for="CreationDate" class="form-control" />
        </div>

        <div class="mt-4">
            <input type="submit" value="Save" class="btn btn-success" /> |
            <a asp-action="Index" class="btn btn-light"> Cancel </a>
        </div>
    </form>
</div>
